/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* root */

:root {
  --bg-color: rgb(20, 29, 38);
  --box-color: rgb(36, 52, 71);
  --text-color: rgb(255, 255, 255);
  --hs-color: rgb(30, 142, 212);
}

/* Reset Style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
